name: HTML CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t html-app .

      - name: Run Docker container
        run: |
          docker stop html-container || true
          docker rm html-container || true
          docker run -d -p 80:80 --name html-container html-app

